:root{
  --bg-color: #23262F;
  --primary-color: #FA8C05;
  --secondary-color: #393C45;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-cinzel: 'Cinzel', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}
html{
  font-size: 62.5%;
}
body{
  background-color: var(--bg-color);
  height: 100vh;
}

/* GERAL */

a{
  font-size: 1.6rem;
  color: whitesmoke;
  text-decoration: none;
}

/* 
  MENU LATERAL 
*/
nav#sidebar{
  background: linear-gradient(90deg, var(--secondary-color) 0%, var(--bg-color) 92%) no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  
  height: 100vh;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  
}
ul li.sidebar-item{
  line-height: 20px;
}
ul li.sidebar-item a{
  /* background-color: #fa8c056c; */
  display: flex;
  padding: 20px;
}

/* header menu */
div#logo{
  padding: 30px 40px 45px 8px;
}
div#logo span.logo__text{
  font-size: 3.2rem;
  font-family: var(--font-cinzel);
  color: var(--primary-color);
  margin-left: 10px;
}

/* icon menu */
li.sidebar-item a  span.sidebar-item__img{
  position: relative;
  bottom: 10px;
}

/* texto menu */
li.sidebar-item a  span.sidebar-item__text{
  margin-left: 10px;
}
li.sidebar-item{
  list-style-type: none;
}

/* registro menu */
li#sidebar-registro{
  background-color: var(--secondary-color);
  width: 260px;
  height: 148px;
  border-radius: 26px;
}
button.sidebar-registro__button{
  background-color: var(--primary-color);
  color: whitesmoke;
  border-radius: 22px;
  border-color: transparent;

  display: flex;
  width: 225px;
  height: 67px;

  /* transform: translateX(-50%, -50%); */
  left: 20px;
  top: 20px;
  
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
span#sidebar-registro__span{
  position: relative;
  right: 25px;
  font-size: 4.6rem;
}

/* div de Logout */
li#sidebar-sair{
  background-color: var(--secondary-color);
  border-radius: 22px;
  width: 180px;
  /* height: 80px; */
  padding: 8px 5px;

  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  margin-top: 50px;
}
li#sidebar-sair a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main{
  width: calc(100vw - 300px);
  height: inherit;
  margin-left: 300px;
  padding-top: 60px;
  padding-right: 80px;
}
/* AREA DE APRESENTAÇÃO */
section#main-apresentacao{
  background-color: var(--secondary-color);
  font-family: var(--font-montserrat);
  border-radius: 26px;
  float: right;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1050px;
  height: 180px;
  /* margin-top: 60px; */
  padding: 0 0 0 30px;
  gap: 200px;
}
div#main-apresentacao__text h2{
  color: var(--primary-color);
  font-size: 4.8rem;
}
div#main-apresentacao__text p{
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5px;
}