div#table{
  margin-top: 60px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

thead tr {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}