<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../public/styles/reseat.css">
  <link rel="stylesheet" href="../../../public/styles/vars.css">
	<link rel="stylesheet" href="../../../public/styles/formulario.css">
	<title>Cadastrar oculos</title>
</head>
<body>
	<form action="../../modal/cadastrar/cadastrar-oculos.php" method="post">
		<div class="field">
			<img src="../../../public/img/icones/OrderOS.svg" alt="">
			<input type="text" placeholder="Numero do OS" id="num_os" class="input-field" name="num_os" required><br>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Armação" id="armacao" class="input-field" name="armacao" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Lentes" id="lentes" class="input-field"  name="lentes" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OD Esférico" id="longe_od_esferico" class="input-field" name="longe_od_esferico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OE Esférico" id="longe_oe_esferico" class="input-field"  name="longe_oe_esferico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OD Cilíndrico" id="longe_od_cilindrico" class="input-field" name="longe_od_cilindrico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OE Cilíndrico" id="longe_oe_cilindrico" class="input-field" name="longe_oe_cilindrico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OD DNP" id="longe_od_dnp" class="input-field" name="longe_od_dnp" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Longe OE DNP" id="longe_oe_dnp" class="input-field" name="longe_oe_dnp" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Eixo OD" id="eito_od" class="input-field" name="eito_od" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Eixo OE" id="eixo_oe" class="input-field" name="eixo_oe" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="ADD OE" id="add_oe" class="input-field" name="add_oe" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="ADD OD" id="add_od" class="input-field" name="add_od" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OD Esférico" id="perto_od_esferico" class="input-field" name="perto_od_esferico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OE Esférico" id="perto_oe_esferico" class="input-field" name="perto_oe_esferico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OD Cilíndrico" id="perto_od_cilindrico" class="input-field" name="perto_od_cilindrico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OE Cilíndrico" id="perto_oe_cilindrico" class="input-field" name="perto_oe_cilindrico" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OD DNP" id="perto_od_dnp" class="input-field" name="perto_od_dnp" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Perto OE DNP" id="perto_oe_dnp" class="input-field" name="perto_oe_dnp" required>
		</div>

		<div class="field">
			<img src="" alt="">
			<input type="text" placeholder="Altura pupilar" id="alt_pupilar" class="input-field" name="alt_pupilar" required>
		</div>

    <button class="btn" type="submit">Enviar</button>
  </form>
</body>
</html>
