<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../public/styles/reseat.css">
  <link rel="stylesheet" href="../../../public/styles/vars.css">
	<link rel="stylesheet" href="../../../public/styles/formulario.css">
	<title>Cadastrar venda</title>

</head>
<body>
	<div id="form-container">
		<h4>Cadastrar vendas</h4>
		<form action="../../modal/cadastrar/cadastrar-venda.php" method="post">
			<div class="field">
				<img src="../../../public/img/icones/OrderOS.svg" alt="">
				<input type="text" placeholder="Numero do OS" id="num_os" class="input-field" name="num_os" required>
			</div>
	
			<div class="field">
				<img src="../../../public/img/icones/Username.svg" class="input-icon" alt="">
				<input type="text" placeholder="Nome" id="nome" class="input-field" name="nome" required>
			</div>

			<div class="field">
				<img src="../../../public/img/icones/Phone.svg" class="input-icon" alt="">
				<input type="text" placeholder="Telefone" id="telefone" class="input-field" name="telefone" required>
			</div>
	
			<div class="field">
				<!-- <img src="../../../public/img/icones/" alt=""> -->
				<input type="text" placeholder="CPF" id="cpf" class="input-field" name="cpf" required>
			</div>

			<div class="field">
				<!-- <img src="../../../public/img/icones/" alt=""> -->
				<input type="text" placeholder="Preço" id="preco" class="input-field" name="preco" required>
			</div>
	
			<div class="field">
				<!-- <img src="../../../public/img/icones/" alt=""> -->
				<input type="text" placeholder="Sinal" id="sinal" class="input-field" name="sinal" required>
			</div>
	
			<div class="field">
				<!-- <img src="../../../public/img/icones/" alt=""> -->
				<input type="text" placeholder="A pagar" id="a_pagar" class="input-field" name="a_pagar" required>
			</div>

			<div class="field">
				<!-- <img src="../../../public/img/icones/" alt=""> -->
				<input type="text" placeholder="Observações" id="obs" class="input-field" name="obs">
			</div>

			<button class="btn" type="submit">Enviar</button>
		</form>
	</div>
</body>
</html>