/* MAIN */
main{
  width: calc(100vw - 300px);
  height: inherit;
  margin-left: 300px;
  padding-top: 60px;
  padding-right: 80px;
}

/* AREA DE APRESENTAÇÃO */
section#apresentacao{
  background-color: var(--primary-color);
  box-shadow: 0 4px 24px rgb(224, 130, 45, 30%);
  font-family: var(--font-montserrat);
  border-radius: 26px;

  position: relative;
  width: 75vw;
  max-width: 1250px;
  height: 180px;
  float: right;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  padding-right: 30px;
  font-family: var(--font-montserrat-alter);
}

div#apresentacao__text h2{
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
}
div#apresentacao__text p{
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5px;
}

